* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

nav {
    background: #9a9c9c;
    height: 80px;
    width: 100%;
}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

.logo {
    height: 40px;
}

nav ul {
    float: right;
    margin-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    transition: .5s;
}

li a.active, li a:hover {
    background: #434343;
    color:wheat;
    transition: .5s;
}

.dropdown {
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  }
  .dropdown:hover .dropdown-content {
    display: block;
    background: #9a9c9c;
    color:wheat;
    transition: .5s;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: black;
  }

.checkbtn {
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;  
    background-color: rgb(229, 226, 226);
    width: 100%;
}

.informacion {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.imagen_flotando {
    margin-top: 20px;;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: subirBajar 5s ease-in-out infinite;
}

.imagen_flotando img {
    max-width: 80%;
    height: auto;
}

.informacionBasica {
    color: rgb(41, 41, 41);
    flex: 1;
    text-align: center;
    padding: 10px;
}

.informacionBasica h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.informacionBasica p {
    font-size: 18px;
}

.servicios {
    display: flex;
    justify-content: space-around;
    gap: 15px;
    padding: 10px;
}

.bloque {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 8px 8px 2px 1px rgba(47, 47, 47, 0.2);
    width: 280px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bloque img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.bloque .datos {
    padding: 15px;
}

.bloque .datos h1 {
    font-size: 22px;
    margin-bottom: 5px;
}

.bloque .datos p {
    font-size: 16px;
}

a.boton {
    display: inline-block;
    padding: 10px 20px; 
    background-color: #434343; 
    color: white; 
    text-align: center;
    text-decoration: none;
    border-radius: 5px; 
    font-size: 16px;
    transition: background-color 0.3s; 
    margin-top: 10px;
}

a.boton:hover {
    background-color: black; 
}


@keyframes subirBajar {
    0% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    width: 100%;
}

footer h1 {
    font-size: 24px;
}

@media (max-width: 992px) {
    .informacion {
        flex-direction: column;
        align-items: center;
    }

    .servicios {
        flex-direction: column;
        align-items: center;
    }
    .imagen_flotando img {
        max-width: 50%;
        height: auto;
    }
}

@media (max-width: 858px) {
    .checkbtn {
        display: block;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #000000;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    li a:hover, li a.active {
        background: none;
        color: red;
    }
    #check:checked ~ ul {
        left: 0;
        background-color: #cccdcf;
    }


    .imagen_flotando{
        display: none;
    }
}
