body{
    background-color: #bdbfc2;
}

img{
    height: 65px;
    width: 90px;
}

.iniciom{
    background-color: transparent;
    border-color: transparent;
    position: relative;
    left: 300px;
    top: 0px;
    color: #7b736f;
    text-decoration: none;
}

.acercam{
    background-color: transparent;
    border-color: transparent;
    position: relative;
    left: 350px;
    top: 0px;
    color: #7b736f;
    text-decoration: none;
}

.materialesm{
    background-color: transparent;
    border-color: transparent;
    position: relative;
    left: 400px;
    top: 0px;
    color: #7b736f;
    text-decoration: none;
}

.carritoim{
    height: 30px;
    width: 30px;
    margin-left: 430px;
    margin-top: 30px;
}

hr{
    border-color: #7b736f;
}

.botonesm{
margin-left: 1000px;
margin-top: -80px;
}